{% extends "layout.html" %}
{% include "navbar.html" %}
{% block content %}


    <div class="container">
        <div class="container">
        <div class="card-group">
            <div class="card">
            <img src="./static/images/silvia.jpg" class="card-img-top" height="350" width="40">
            <div class="card-body">
                <h5 class="card-title">Silvia Fuertes</h5>
                <p class="card-text">Systems Engineer</p>
                <p class="card-text">Software Developer</p>
            </div>

            </div>
            <div class="card"></div>

            <div class="card">
                <img src="./static/images/daniel.jpg" class="card-img-top"height="350" width="40" >
                <div class="card-body">
                    <h5 class="card-title">Silvia Fuertes</h5>
                    <p class="card-text">Systems Engineer</p>
                    <p class="card-text">Software Developer</p>
                </div>
            </div>
        </div>
    

{% include "footer.html" %}
{% endblock content %}