<br>
<br>
<br>
<div>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>About us</h3>
          <p>We are an online movie store specializing in movies of all genres and eras. We offer a wide catalog of titles at very competitive prices.</p>
        </div>
        <div class="col-md-4">
          <h3>Subscribe to our newsletter</h3>
          <p>Receive exclusive offers and news in your email.</p>
          
        </div>
        <div class="col-md-4">
          <h3>Contact</h3>
          <p>If you have any questions or suggestions, feel free to contact us..</p>
          <ul class="list-unstyled">
            <li><i class="fa fa-phone"></i> +1 (123) 456-7890</li>
            <li><i class="fa fa-envelope"></i> peliculas@MovieShop.com</li>
            <li><i class="fa fa-map-marker"></i> 123 Springfield</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
      </div>
    </div>
  </footer>
</div>